html, body {

    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    image-rendering: optimizeQuality;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(224, 224, 224);
}

.calendar {
    width: 600px;
    height: 600px;
    border: none;
    margin: 7% auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upside {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 5% auto 5px auto;
    color: rgb(105, 105, 105);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.monthName {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 15px 10px;
}

.arrows {

    width: 50px;
    height: 40px;
    margin: 10px;
    padding-top: 10px;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 50%;
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: inline-block;

    cursor: pointer;
}

.left {
    transform: rotate(270deg);
}

.right {
    transform: rotate(90deg);
}

.bottomside {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin: 0 auto 5px auto;
    color: rgb(105, 105, 105);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bottomside > span {

    width: 45px;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 25px 20px;   

    cursor: pointer;
}

.bottomside > span:nth-child(n+8):nth-child(-n+11) {
    color: lightgrey;
}

.markedDay {
    border-radius: 50%;
    background-color: lightgray;
}

.today {
    border-radius: 50%;
    background-color: rgb(9, 75, 197);
    color: white;
}