ul{
    list-style-type:none;    
}

img{

    display: inline-block;
    margin-left: 25px;
    
    }   
    
    p{   
     
        display: inline-block; 
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
        margin-left: 60px;
        opacity: 0.5;
    }

    body{
        margin-top: 10px;
    
    }

    hr{
        margin-left:30px;
        margin-right:30px; 
        
    }
    
    .container{
        width: 400px;     
        margin: 0 auto;
        border: 1px solid silver;      
        display: flex;
        flex-direction: column;
         height:725px  ;
    }
    .blue{
        color: blue;
    }

    hr{
        opacity: 0.5;   
        width: 300px;
        margin-left:50px;
    }