* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background: #F2F5F7;
    padding: 15px;
}

.container {
    height: 100vh;
    background: white;
}

.page-title {
    padding: 25px;
    border-bottom: 3px solid #FAFAFA;
}

.page-title h5 {
    color: #D3DADC;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0;
}

.page-title h3 {
    color: #667179;
    font-weight: bold;
    font-size: 15px;
}

.month {
    margin: 50px 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.month-header {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.month-header i.left,
i.right {
    border: 1px solid #F0F0F0;
    padding: 10px;
    width: 50px;
    text-align: center;
    border-radius: 30px;
    width: 5%;
    color: #A1BCC2;
}

.month-header h3 {
    flex: 1;
    text-align: center;
    text-transform: capitalize;
    color: #9BA2A7;

}

i.left {
    margin-left: 20px;
}
i.right
{
    margin-right: 20px;
}

table
{
    width: 100%;
  
    margin-top: 20px;
}
td,th
{
   
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
th
{
    color: #B9C0C5;
}
.month table tr:nth-child(3) td:nth-child(4)
{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #2EAEBA;
   color: #ECF8F9;
}