html, body {

    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 243, 243);
}

.container {
    width: 50%;
    height: auto;
    margin: 5% auto;

    display: flex;
    flex-flow: row;
    justify-content: center;
}

ul {
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: white;
}

ul > li:first-child,
ul > li:nth-child(6) {
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
}

li {
    width: 80%;
    height: auto;
    list-style-type: none;
    margin: 30px auto;
    cursor: pointer;
}

li a:hover {
    color: rgb(97, 119, 237);
}

li:hover::before {
    content: "";
    position: absolute;
    height: 60px;
    padding: 0;
    margin-left: -40px;
    border-left: 5px solid rgb(61, 139, 61);
}

li > a {
    margin: 0;
    color: rgb(161, 166, 197);
    text-decoration: none;
    font-size: 40px;
    padding-right: 5px;
}

a > span {
    position: absolute;
    font-weight: bolder;
    font-size: 25px;
    margin: 10px 0 0 25px;
}


