*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.container{
    display: block;
    position: static;
    left: 0;
    top: 0;
    background-color: #333;
    width: 20%;
    color: #fff;
}

.list{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.item{
    padding: 1em;
    position: relative;
}

.space{
    margin: 1em 0;
}

.item > .icon{
    display: inline-block;
    margin-right: 1em;
}

.item > .text{
    color: grey;
}

.item.selected > .text{
    font-weight: bold;
    color: rgb(156,43,245);
}

.item.selected , .item:hover{
    cursor: pointer;
}

.item.selected::before , .item:hover::before{
    content: '';
    display: block;
    color: rgb(156,43,245);
    position: absolute;
    left: .5em;
    width: 3px;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    background-color: rgb(104,175,64);
}
