
html, body {

    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#main-container {
    width: 300px;
    height: auto;
    margin: 10% auto 0 auto;
    padding: 20px;
    background-color: rgb(37, 47, 72);
    box-shadow: 0px 0px 10px 3px lightgrey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::-moz-placeholder {
    color: rgb(103, 117, 153);
    font-size: 25px;
    font-weight: bold;
}

::-webkit-input-placeholder {
    color: rgb(103, 117, 153);
    font-size: 25px;
    font-weight: bold;
}

#search {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    display: inline-block;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}

.upside {
    margin: 15px;
    color: white;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;
}

.upside > i {
    padding-top: 10px;
}

input[type="checkbox"] + .text {
    display: block;
    margin: 20px 0 25px 40px;
    cursor: pointer;
    padding: 0.2em;
}

input[type="checkbox"] {
    display: none;
}

.text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(103, 117, 153);
}

input[type="checkbox"] + .text:before {
    content: "\2714";
    color: transparent;
    border: 0.2em solid lightgray;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.4em;
    padding-bottom: 0.3em;
    margin-right: 1em;  
    vertical-align: middle;
}

input[type=checkbox]:checked + label:before {
    color: #fff;
}

input[type="checkbox"]:hover ,
.text:hover {
    color: white;
    border-radius: 4px;
    background-color: rgb(38, 122, 190);
}

.red + label.text::before {
    border: 0.2em solid salmon;
}

.green + label.text::before {
    border: 0.2em solid rgb(35, 204, 134);
}

.yellow + label.text::before {
    border: 0.2em solid rgb(212, 212, 0);
}

.skyBlue + label.text::before {
    border: 0.2em solid skyblue;
}

.pink + label.text::before {
    border: 0.2em solid pink;
}

.default + label.text::before {
    border: 0.2em solid rgb(103, 117, 153);
}