
body {
  
  margin: 0 auto;
  width: 800px;
}

h6{
  font-size: 60px;
  text-align:left;
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin-bottom:40px;
  padding:5px;
  text-align: left;
}

.parent1{
position: relative;
text-align: left;
font-size: 18px;
flex-direction: column-reverse;
justify-content: space-between;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.child1{
  text-align: left;
  border: 10px;
  border-bottom: .7px solid;
  margin-left: 50px;
   position: relative;
   padding:10px;
   flex-direction: row-reverse;
   
}

  
.child2{
  text-align: left;
  border: 10px;
  border-bottom: .5px solid;
  margin-left: 90px;
   position: relative;
   padding: 5px;
   flex-direction: row-reverse;
   
}
.child3{
  text-align: left;
  border: 10px;
  border-bottom: .5px solid;
  margin-left: 70px;
   position: relative;
   padding: 5px;
   border-radius: 1px;
   flex-direction: row-reverse;

}


.bin{
  position: relative;
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  padding-top:30px;
  padding-bottom: 30px;
  font-size: 18px;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .select{
    
    border: 10px;
    margin-left: 70px;
     position: relative;
     padding: 5px;
     flex-direction: row-reverse;
    
  }
 
 