.side {
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

.selected {
    width: 250px;
    color: royalblue;
    font-weight: bolder;
}

.selected img {
    vertical-align: -7px;
    filter: drop-shadow(1px 1px 3px rgba(9, 13, 255, 0.39));
    padding-left: 30px;
    border-left: 5px solid rgb(42, 199, 110);
    border-radius: 5px;
}

.selected  ul {
    padding: 0px 10px 0px 0px;

   
}

ul {
    list-style-type: none;
}

li {
    padding: 20px 5px;
}

li img {
    width: 25px;
    height: 25px;
    padding: 0px 10px 0px 0px;
    vertical-align: -7px;
}