body{
    margin: 0;
    padding: 0;
    background-color: rgb(228,229,231);
    font-family: monospace;
    font-size: 1.5em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.header > h2, .header > p{
    color: rgb(83,82,82);
    font-weight: bold;
}

.header > p {
    font-size: 0.7em;
    width: 70%;
}


.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langs {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.langs > span {
    display: block;
    margin: .5em 1em;
}

.langs > span > label{
    display: block;
    background-color: rgb(241,242,241);
    color: #000;
    padding: .8em 2em;
    border-radius: 5px;
    transition: all ease-in .2s;
    cursor: pointer;
}

.langs > span > input[type="checkbox"]:checked + label{
    background-color: rgb(20,223,223);
    color: #fff;
    transition: all ease-in .2s;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 1em;
}

.buttons > a{
    color: rgb(167,167,167);
    text-decoration: none;
    padding: 1em 3.5em;
    border: 1px solid rgb(161,196,139);
    margin: 0 1em;
    border-radius: 30px;
    outline: none;
    transition: background-color linear .2s;
}

.buttons > a:active{
    background-color: rgb(161,196,139);
    color:#fff;
}

.buttons > a:nth-child(1){
    text-transform: capitalize;
}

.buttons > a:nth-child(2){
    text-transform: uppercase;
}

input[type="checkbox"]{
    display: none;
}
