html, body {

    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 243, 243);
}

.container {
    width: 50%;
    height: auto;
    margin: 15% auto;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.square {
    width: 30%;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 15px;

    margin: 10px;
    overflow: hidden;
}

.headerOfSquare {
    padding: 10px;
    background-color: rgb(246, 247, 251);

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.headerOfSquare > div > h1 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(111, 92, 129);
}

.headerOfSquare > div > label {
    color: rgb(144, 129, 158);
}

.header-icon {
    width: 50px;
    padding: 5px;
    margin-right: 5px;
}

.bodyOfSquare {
    height: 60%;
    background-color: white;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.bodyOfSquare > p {
    color: rgb(100, 71, 128);
    align-self: flex-start;
}

.stars-container {
    align-self: flex-end;
    margin: 15px 0 10px 0;
}

.stars-container > a {
    text-decoration: none;
    color: rgb(138, 98, 175);
    margin-left: 15px;
    cursor: pointer;

}

#icon {
    width: 25px;
    margin: 0 7px auto;
    cursor: pointer;
}

#icon:hover:after {
    content: "Aloooo";
    color: red;
    font-size: 20px;
}