body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   justify-content: center;
   padding: 25px;
}
.container
{
    width: 30%;
    background: #F7F9FC;
    padding: 20px;
}

table
{
    border-collapse: collapse;
}

.table-header
{
    border-bottom: 2px solid #D8E1F1;
    text-transform: uppercase;
    color:#878F99;
    margin: 15px 0;
    padding: 20px 0;
}

img
{    
    border-radius: 50%;
    height: 20%;
    padding: 5px;
}

table td
{    
    padding: 10px
}

table td h2,h3
{
    margin: 5px 0;
}
table td h2
{
    color:#A5ABB3;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
}
table td h3
{
    color: #BDC6D1;
    font-size: 14px;
    font-weight: 300;
}

div.work i
{
    color:#99C7FB;
    margin-right: 5px;
}
div.work span
{
    color: #99C7FB;
    font-weight: 300;
    text-transform: capitalize;
}